body {
  font-family: "Comic Sans", cursive;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 38px;
  border-bottom: 3px solid #CCCCCC;
}

.header-logo {
  width: 55px;
  height: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25%;
}

.header-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-left: 20px;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 38px;
  padding-bottom: 38px;
  border-top: 3px solid #CCCCCC;
}

.footer-logo {
  width: 55px;
  height: 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 25%;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-left: 20px;
  text-align: left;
}

.footer-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-left: auto;
}

.card-container {
  display: grid;
  grid-template-columns: 55% 50%;
}

.page1-card1 {
  grid-column: 1;
}

.page1-card2 {
  grid-column: 1;
}

.page2,
.page2-A {
  display: grid;
  grid-template-columns: 55% 50%;
  gap: 20px;
}

.page2-card {
  grid-column: 1;
}

.page2-card2 {
  grid-column: 1;
  margin-left: 20%;
}

.card {
  border: 0;
}

.register-text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: white;
}

.register-google-text {
  text-decoration: none;
  color: black;
  font-weight: bold;
  color: black;
}

.text-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.move-login {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 10px;
}

.newsletter {
  padding: 3vw;
  border-radius: 10px;
  background-color: #63AF2B;
  margin-top: 10%;
  margin-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

.newsletter-row {
  display: flex;
  align-items: center;
}

.newsletter-tittle {
  color: white;
  font-weight: bold;
  font-size: 30px;
  padding-bottom: 20px;
  padding-bottom: 3%;
}

.newsletter-mail {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 100%;
  font-size: 18px;
  margin-right: 5%;
}

.newsletter-button {
  background-color: rgb(230, 230, 230);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  width: 60%;
  font-size: 18px;
}

.page-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
}

.page2 {
  margin-top: 5%;
  border-top: 3px solid #CCCCCC;
}

.page2-A-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 5%;
}

.card1-header {
  display: flex;
  align-items: center;
}

.fecha {
  padding-left: 100px;
  font-size: 20px;
  opacity: 75%;
}

.body-bootstrap {
  margin-top: 1%;
  padding: 2%;
  background-color: rgb(226, 226, 226);
  align-items: center;
}

.card1-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.card1-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.card1-footer {
  display: flex;
  align-items: center;
}

.card1-footer-img {
  border-radius: 75px 75px 75px 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}

.card1-footer-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  padding-top: 20px;
}

.card2-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.card2-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.card2-footer {
  display: flex;
  align-items: center;
}

.card2-footer-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 20px;
}

.page2-card {
  width: 700px;
}

.page2-card2 {
  width: 300px;
}

.card3-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: end;
  margin-right: 10px;
  margin-top: 10%;
  color: white;
}

.card-html {
  background-color: rgb(233, 62, 48);
}

.card-js {
  background-color: rgb(247, 224, 24);
}

.card-css {
  background-color: rgb(41, 158, 213);
}

.card-react {
  background-color: rgb(41, 44, 51);
}

.card-vue {
  background-color: rgb(103, 199, 112);
}

.card-bootstrap {
  background-color: rgb(86, 61, 124);
}

.card-center {
  flex: 1;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1-img1 {
  height: 324px;
  width: 673px;
  border-radius: 20px 20px 20px 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pag1-img2 {
  width: 189px;
  height: 145px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card2-footer-img {
  border-radius: 75px 75px 75px 75px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 10px;
}

.pag2-img1 {
  width: 298px;
  height: 200px;
  border-radius: 20px 20px 20px 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page2-logos {
  height: 87px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5%;
}

.img-body {
  padding: 2%;
  max-width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.register-button {
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  padding: 6px;
  border-width: 1px;
  border-color: rgb(222, 226, 230);
  background-color: #63AF2B;
}

.google-button {
  width: 100%;
  margin-top: 10px;
  border-radius: 6px;
  padding: 6px;
  border-width: 1px;
  border-color: rgb(222, 226, 230);
  background-color: white;
  padding: 0;
  margin-bottom: 1vw;
}

.go-home {
  text-decoration: none;
  color: black;
}

.form {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.form-imput {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */